<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SAC</title>
</head>
<body>
	<nav>
		{% if user.is_authenticated %}
			<li>User: {{ user.get_username }}</li>
			<li><a href="{% url 'user_dashboard'%}">Profile</a></li>

			<li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
		{% else %}
			<li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
		{% endif %} 
	</nav>
	{% block content %}
	

	{% endblock %}
</body>
</html>